body{
  background-color: #00bfff;
}
.btn {
  text-align: center;
  margin-top: 5px;
}
.btn1{
  background-color: blue;
  border: 10px solid black;

  border-radius: 20px;
  margin: 20px;
  padding: 10px;
}
.btn2{
background-color: red;
border: 10px solid black;

border-radius: 20px;
margin: 20px;
padding: 10px;

}
.btn3{
background-color: green;
border: 10px solid black;

border-radius: 20px;
margin: 20px;
padding: 10px;

}
.btn4{
background-color: orange;
border: 10px solid black;
border-radius: 20px;
margin: 20px;
padding: 10px;

}
button {
  height: 180px;
  width: 180px;
}
h1{
  font-style: italic;
  font-size: 5rem;
  text-align: center;
  margin: 50px;
}
.clicked{
  opacity: 0.5;
}
.flash{
}
